<h1>HOME</h1>
<div class="content">
  <div class="charts">
    <div id="carType" class="chart">
      <strong>Car Type</strong>
      <div class="clearfix"></div>
    </div>
    <div id="gateName" class="chart">
      <strong>Gate Name</strong>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="tableDiv">
    <div class="tableHead">
      <div class="dc-data-count">
        <span class="filter-count count"></span>
        selected out of
        <span class="total-count count"></span>
        records |
        <button (click)="resetAll()" id="resetBtn">Reset All</button>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Timestamp Column -->
        <ng-container matColumnDef="Timestamp">
          <th mat-header-cell *matHeaderCellDef>Timestamp</th>
          <td mat-cell *matCellDef="let element">{{ element.Timestamp }}</td>
        </ng-container>

        <!-- car-id Column -->
        <ng-container matColumnDef="car-id">
          <th mat-header-cell *matHeaderCellDef>car-id</th>
          <td mat-cell *matCellDef="let element">{{ element['car-id'] }}</td>
        </ng-container>

        <!-- car-type Column -->
        <ng-container matColumnDef="car-type">
          <th mat-header-cell *matHeaderCellDef>car-type</th>
          <td mat-cell *matCellDef="let element">{{ element['car-type'] }}</td>
        </ng-container>

        <!-- gate-name Column -->
        <ng-container matColumnDef="gate-name">
          <th mat-header-cell *matHeaderCellDef>gate-name</th>
          <td mat-cell *matCellDef="let element">{{ element['gate-name'] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        [pageSize]="10"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      ></mat-paginator>
    </div>
  </div>
</div>
